{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="form-group">
		{{form_start(formRecherche)}}
		<div class="container">
			{{form_widget(formRecherche.recherche,{
				attr: {
					placeholder:"Recherche..",
					'class': 'form-control'
				},
				
			
        	})}}
			<button type="submit" class="btn btn-primary mt-2">Rechercher</button>
		</div>

		{{form_end(formRecherche)}}

	</div>

	{% if allevent %}
		{% for event in allevent %}
			<div class="row">
				<ul class="cards">
					<li>
						<a href="" class="card">
							<img src="https://i.imgur.com/oYiTqum.jpg" class="card__image" alt=""/>
							<div class="card__overlay">
								<div class="card__header">
									<svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path/></svg>

									<div class="card__header-text">
										<h3 class="card__title">{{event.nom}}</h3>
										<span class="card__status">{{event.createdAt | date('d/m/Y à H:i:s')}} catégorie = {{event.categorie}}</span>
									</div>
								</div>
								<p class="card__description">{{event.description}}</p>
							</div>
						</a>
					</li>
				</ul>


			</div>
		{% endfor %}
	{% else %}
		<p>0 evenements
		</p>
	{% endif %}


{% endblock %}
